
<%= form_with model: article do |form| %>
  <div class="form-group">
    <%= form.label :title, class: 'form-label' %></rb>
    <%= form.text_field :title, class: 'form-control' %>
    <% @article.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <div class="form-group">
    <%= form.label :body, class: 'form-label' %></rb>
    <%= form.text_area :body, class: 'form-control'  %>
    <% @article.errors.full_messages_for(:body).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <div class="form-group">
    <%= form.submit '登録', class:'btn btn-sm btn-success' %>
  </div>


<% end %>

